extends ../shared/template

block content
  h1= title

  div.sidebar
    include userinfo

  div.main
    div.add
      include ../campaigns/addCampaign
    div.list
      div#mylist
        if(myCampaigns)
          ul
            each campaign in myCampaigns
              li
                a(href='/campaigns/#{campaign._id}') #{campaign.name}
        if(!myCampaigns)
          p You haven't created any campaigns!
      div#otherlist
        if(otherCampaigns)
          ul
            each campaign in otherCampaigns
              li
                a(href='/campaigns/#{campaign._id}') #{campaign.name}
