extends ../shared/template

block content

  div.col-sm-3.col-md-2.sidebar

    ul.nav.nav-sidebar
      include ../campaigns/campaigninfo

  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    ol.breadcrumb
      li
        a(href='/dashboard') Home
      li
        a(href='/campaigns/#{campaign._id}') #{campaign.name}
      li.active
        a(href='/projects/#{project._id}') #{project.name}

    h1.page-header #{project.name}
      small  &mdash; #{project.medium}
    h2 #{project.notes}

    div.list
      if(docs)
        div.add
          h3
          include ../projects/editContent

        - var x = 1
        each doc in docs
          - var divname = 'collapse' + x
          - var linkname = '#' + divname
          - var copydiv = 'copy' + x
          - var copylink = '#' + copydiv
          - var diffdiv = 'diff' + x
          - var difflink = '#' + diffdiv
          - var copy = doc.copy
          - x++

          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href=linkname)
                    | #{doc.date}: #{doc.creator.name} wrote …
              div(id=divname class='panel-collapse collapse in')
                .panel-body
                  ul.nav.nav-tabs
                    li.active
                      a(href=copylink, data-toggle='tab') Copy
                    if(x <= docs.length)
                      li
                        a(href=difflink, data-toggle='tab') Changes

                  .tab-content
                    div(id=copydiv class='tab-pane active')
                      div.copy
                        p!= copy.replace(/\r/g, '').replace(/\n/g, '</p><p>')

                    if(x <= docs.length)
                      div(id=diffdiv class='tab-pane')
                        div.diff
                          p The diff
                  div.panel.panel-default
                    .panel-heading
                      h4.panel-title Notes
                    p.panel-body #{doc.notes}

      else
        include ../projects/addContent
