extends ../shared/template

block content
  h1= project.name
  p #{project.notes}
  p #{project.medium}

  div.sidebar
    include ../users/userinfo

    include ../campaigns/campaigninfo

  div.main
    div.add
      include ../projects/addContent
    div.list
      if(docs)
        ul
          each doc in docs
            li
              div.author #{doc.creator.name} wrote:
              div.content
                div.copy #{doc.copy}
                div.diff
              div.notes #{doc.notes}
      else
        include ../projects/addContent
