div.campaigninfo
  h3
    a(href='/campaigns/#{campaign._id}') #{campaign.name}

  h4 Description
  p #{campaign.description}

  h5 Campaign Owner

  div.name
    img(src=campaign.owner.photo)
    p #{campaign.owner.name}

  if(campaign.editors.length !== 0)
    h5 Campaign Editors

    div.name
      each editor in campaign.editors
        img(src=editor.photo)
        p #{editor.name}

  if user._id.equals(campaign.ownerId)
    include ../campaigns/addEditor
