div.campaigninfo
  h3
    a(href='/campaigns/#{campaign._id}') #{campaign.name}

  h4 Description
  p #{campaign.description}

  h5 Campaign Owner

  div.owner
    img(src='#{campaign.owner.photo}')
    span #{campaign.owner.name}

  if(campaign.editors.length !== 0)
    h5 Campaign Editors

    each editor in campaign.editors
      div.editor
        img(src=editor.photo)
        div.editorname #{editor.name}
        if user._id.equals(campaign.ownerId)
          include ../campaigns/removeEditor
        if user._id.equals(editor._id)
          include ../campaigns/removeEditor

  if user._id.equals(campaign.ownerId)
    include ../campaigns/addEditor
    include ../campaigns/editCampaignAndProject
