h3
  a(href='/campaigns/#{campaign._id}') #{campaign.name}
h4 #{campaign.description}

h5 Campaign Owner:

img(src=campaign.owner.photo)
p #{campaign.owner.name}

if(campaign.editors.length !== 0)
  h5 Campaign Editors

  each editor in campaign.editors
    img(src=editor.photo)
    p #{editor.name}
