extends ../shared/template

- var userId = user._id.toString
- var ownerId = campaign.ownerId.toString

block content
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    ol.breadcrumb
      li
        a(href='/dashboard') Home
      li.active
        a(href='/campaigns/#{campaign._id}') #{campaign.name}

    h1.page-header #{campaign.name}

    div.add
      if user._id.equals(campaign.ownerId)
        h4 Create a Project
        include ../projects/addProject
    div#projects.table-responsive
      table.table.table-striped
        thead
          th Projects in #{campaign.name}
          th
        tbody
          each project in projects
            tr
              td
                a(href='/projects/#{project._id}') #{project.name}
              td #{project.medium}
          if(projects == 0)
            tr
              if user._id.equals(campaign.ownerId)
                td You haven't created any projects!
                td
              else
                td The campaign owner hasn't created any projects.
                td


  div.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
      include ../campaigns/campaigninfo
